body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}

.container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: black;
    border-radius: 6px;
}

.headingBox {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.numbersContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 38px;
    justify-content: center;
}

.circle {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 10px;
    cursor: pointer;
}

.circle:hover {
    transform: scale(110%);
    background-image: linear-gradient(-225deg, #4abcce 0%, #30a0f7 48%, #4037e2 100%);
}

.cardDetails {
    background-image: linear-gradient(-225deg, #4abcce 0%, #30a0f7 48%, #4037e2 100%);
    /* border: 2px solid white; */
    width: 30%;
    box-shadow: #3D4E81;
    height: 25%;
    color: black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    z-index: 10;
    position: absolute;
    top: 34%;
    left: 34%;
    font-size: 25px;
    box-shadow: #12192c;
}

.close{
   display: flex;
   justify-content: right;
   width: 7%;
}

.cardDetails button {
    padding: 8px;
    font-size: 17px;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: #3D4E81;
}
.carDe{
    z-index:10;
    position:absolute;
    top:60px;
    left:256px;
    width:1319px;
    height:80%;
    background-image: linear-gradient(-225deg, #4abcce 0%, #30a0f7 48%, #4037e2 100%);
   
    box-shadow: #3D4E81;
    color: black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    box-shadow: #12192c;
}
.carDe button{
    padding: 20px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
}
.carDe .puzzle{
    width: 25%;
}

#timer {
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

#targetNumber {
    color: white;
    font-size: 40px;
    font-weight: bold;
    border: 1px solid white;
    padding: 10px;

}
.puzzle{
    width: 10%;
}

#coins {
    color: white;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid white;
    padding: 10px;
}
